/* Povolit nic */
grant {
  permission java.util.PropertyPermission "TEST.povolitNIC","read,write";
  
  /* Opravneni vyzadovana k prehozeni opravneni */
  permission java.security.SecurityPermission "getPolicy";
  permission java.security.SecurityPermission "setPolicy";
  permission java.util.PropertyPermission "java.security.policy", "read,write";
  permission java.lang.RuntimePermission "createSecurityManager,getSecurityManager,setSecurityManager";
  
};

